@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@300;400&family=Roboto:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD

=======
>>>>>>> 48cfb65ee43e5b5aeff3918de7ee8f487ea14d35
@layer base {
    h1,
    h2,
    h3,
    h4,
    h5 {
      @apply font-poppins;
    }
<<<<<<< HEAD
  
    body {
      @apply font-fredoka;
    }
  
=======

    body {
      @apply font-fredoka;
      background-color: #111827; /* Or your preferred dark color, e.g., bg-gray-900 */
    }

>>>>>>> 48cfb65ee43e5b5aeff3918de7ee8f487ea14d35
    p,
    span {
      @apply font-roboto;
    }
  }
<<<<<<< HEAD
  
=======

>>>>>>> 48cfb65ee43e5b5aeff3918de7ee8f487ea14d35
  @layer utilities {
    .font-poppins {
      font-family: "Poppins", sans-serif;
    }
<<<<<<< HEAD
  
    .font-fredoka {
      font-family: "Fredoka", sans-serif;
    }
  
    .font-roboto {
      font-family: "Roboto", sans-serif;
    }
  }
  
=======

    .font-fredoka {
      font-family: "Fredoka", sans-serif;
    }

    .font-roboto {
      font-family: "Roboto", sans-serif;
    }
  }
>>>>>>> 48cfb65ee43e5b5aeff3918de7ee8f487ea14d35
